<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset='utf=8'>
    <link rel="icon" href="img/iconimg.png">
    <title>Cardapio</title>
    <link rel="stylesheet" type="text/css" media="screen" href='Stilo.css'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Rubik:ital@1&display=swap');
    </style>
</head>

<body id="bodycar">
    <header id="headerbar">

    <div id="img-cardapio">
        <article>
            <a href="duefratelli.html"><img src="img/logoimg.png" alt="logocard"></a>
        </article>
    </div>
    </header>
    
    <main class="navbaraside">
        <div class="search-container">
            <input type="text" id="search" placeholder="Pesquisar">
            <ul id="results"></ul>
        </div>
        <script src="script.js"></script>
    </main>
</body>
</html>