<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset='utf=8'>
    <link rel="icon" href="img/iconimg.png">
    <title>Due Fratelli Pizzeria</title>
    <link rel="stylesheet" type="text/css" media="screen" href='Stilo.css'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Rubik:ital@1&display=swap');
    </style>
</head>
<body>
    <header>

        <div id="title"> 
            <div id="imglogo">
                <article>
                    <a href="duefratelli.html"><img src="img/logoimg.png" alt="logoicon"></a>
                </article>
            </div>
            <h1> Due Fratelli Pizzeria </h1>
        </div>
    </header>

        <main class="main">
            <div>
                <aside>
                     <form>
                        <input type="text" value="Digite seu nome:">
                       <input type="email" value="E-mail:">
                       <input type="tel" value="Telefone:">
                       <input type="text" value="CPF:">
                       <input type="text" value="Endereço:">

                       <div class="container" id="Criar-Cad">

                        <h1>Crie uma senha:</h1>
                       </div>

                       <input type="password" value="">

                    </form>
                </aside>
            </div>  
        </main>    
      <rodape>
        <p>Contato: 11 4002-8922 </p>
        <p>E-mail: duefratelli@pizzaria.com</p>
      </rodape>
</body>

</html>