<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset='utf=8'>
    <link rel="icon" href="img/iconimg.png">
    <title>Due Fratelli Pizzeria</title>
    <link rel="stylesheet" type="text/css" media="screen" href='Stilo.css'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Rubik:ital@1&display=swap');
    </style>
</head>
<body>
    <header>

        <div id="title"> 
            <div id="imglogo">
                <article>
                    <img src="img/logoimg.png" alt="logoicon">
                </article>
            </div>
            <h1> Due Fratelli Pizzeria </h1>
        </div>

            <ul>
                <a href="cardapio.html"><li id="btn-card">Cardapio</li></a>
                <a href="criarlogin.html" id="entrar-btn"><li id="btn-criar-conta">Criar conta</li></a>
            </ul>
    </header>

        <main class="main">
            <div>
                <aside>
                     <form>
                       <input type="email" placeholder="E-mail">
                       <input type="password" placeholder="Senha">   
                       <input type="submit" value="Entrar">
                    </form>
                </aside>
            </div>  
        </main>    
      <rodape>
        <p>Contato: 11 4002-8922 </p>
        <p>E-mail: duefratelli@pizzaria.com</p>
      </rodape>
</body>
</html>