<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset='utf=8'>
    <link rel="icon" href="img/iconimg.png">
    <title>Due Fratelli Pizzeria</title>
    <link rel="stylesheet" type="text/css" media="screen" href='Stilo.css'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Rubik:ital@1&display=swap');
    </style>
</head>
<body>
    <header>

        <div id="title"> 
            Due Fratelli Pizzeria
        </div>
        <div id="imglogo">
            <article>
                <img src="img/logoimg.png" alt="logoicon">
            </article>
        </div>
            <ul>
                <a href="#"><li>Cardapio</li></a>
                <a href="#"><li>Criar conta</li></a>
            </ul>
    </header>
        <main>
            <aside>
                <form>
                    <input type="email" placeholder="E-mail">
                     <input type="password" placeholder="Senha">   
                    <input type="submit" value="Enter">
               </form>
            </aside>
        </main>            
</body>
</html>