<!DOCTYPE html>
<html lang="pt-br"  xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DueFratelli</title>
</head>
<header>
    <a href="/clientes/cadastro"><button>Login</button></a>
</header>
<body>
    <h1>Cardápio</h1>
    <ul>
        <li th:each="produto : ${cardapio}">
            <p th:text="${produto.nome}"></p> <p th:text="${produto.valor}"></p>
        </li>

    </ul>
</body>
</html>