body{
    background-color:#FFFAF0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

#title{
    flex-direction: column;
    line-height: 15%;
    font-size: 13px;
}

li{
    display: inline-block;
    margin: 20px;
}

a:hover{
    color: black;
    transition: 0.3s all;
}

#entrar-btn{
    border: 2px solid #000;
    padding: 10px;
    border-radius: 20px;
}


#btn-card{
    color: #8B0000;
    font-size: 17px;
}

#btn-criar-conta{
    color: black;
    font-size: 15px;
}

.main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    background-color: #8B0000;
    justify-content: center;
    padding: 5%;
}
#cardapio.main{
    display: block;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
img{
    width: 170px;
    padding: 10px 10px 10px 35px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form [type="submit"]{
    height: 45px;
    width: 40%;
    color: #8B0000;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 15px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

rodape{
    font-size: 13px;
}

#bodycar{
    background-color: #F5F5DC;
}

#img-cardapio{    
}

#headerbar{
    justify-content: center;
    background-color: #8B0000;
}

#maincard{
    margin: 0 auto;
    padding: 150px;
}

.search-container {
    position: relative;
    width: 300px;
}
.produtos-pizzas{
    display: flex;
    flex-direction: column;
}
#search-pizza {
    width: 100%;
    padding: 10px;
}

#results-pizzas, #results-bebidas {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

#results-pizzas li, #results-bebidas liq {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#result li:last-child {
    border-bottom: none;
}
