body{
    background-color:#FFFAF0 ;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}